@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo {
    width: 18.75rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* Recipes */

.card {
    height: 90%;
    margin-top: 1rem;
}

.recipes {
    text-decoration: none;
    color: var(--black);
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.ingredients, .instructions, .recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-pic {
    width: 100%;
    height: auto;
}

.recipe-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--border);
    box-shadow: var(--smal-box-shadow);
}

a.img-container:hover {
    color: var(--orange);
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #000000c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Profiles */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-recipes {
    width: 100%;
}

/* Meal Planner */

.accordion-body {
    display: flex;
    flex-direction: column;
}

.accordion-button {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 > a {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.thumb img {
    width: 100%;
}

@media screen and (min-width:40em){
    .form {
        width: 50%;
    }

    .recipe-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .recipe-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .recipe-img {
        width: 40%;
        margin: 0 auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }

    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-recipes {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-recipes a {
        text-decoration: none;
    }
}