{% load static %}

<footer>
    <!-- Social media icons-->
    <a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
        <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
        <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
        <img src="{% static '/icons/twitter-app-icon.svg' %}" alt="Twitter Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
        <img src="{% static '/icons/youtube-square-color-icon.svg' %}" alt="YouTube Icon" class="social-icon" />
    </a>
</footer>